html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
}


li {
	list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
	cursor: pointer;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;

}
 
.clearfix:after {
  clear: both;
}
 
.header-top {
	background-color: #00122f;
	color: white;
	padding: 20px 0;

}
.header-top a{
	color: white;
}
.header-title {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.32px;
	float: left;
}
.fixed-container {
	width: 1000px;
	margin: 0 auto;
}

.datetime {
	float: right;
	letter-spacing: -0.32px;
}

.header-main{
	padding-bottom: 16px;
}

.logo {
	float: left;
	margin-top: 40px;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  font-size: 0;
  float: left;
  margin-top: 50px;
  margin-left: 60px;
 }

.select-wrapper::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 15px;
  height: 1px;
  border-bottom: 2px dashed #448ccb;
}

.custom-select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  padding-right: 15px;
  background: url('img/down-arrow.png') 100% center no-repeat;
  background-size: 9px 5px;
  color: #448ccb;
}

.header-right {
	float: right;
}

.weather {
	margin-top: 50px;
	margin-right: 41px;
	background-image: url('img/cloudy.png');
	background-position: left center;
  	background-size: auto 100%;
  	display: inline-block;
 	padding-left: 38px;
  	background-repeat: no-repeat;
}


.search {
  position: relative;
  display: inline-block;
  margin-top: 38px;
  width: 320px;
  height: 45px;
}

.search input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  background-color: #ebebeb;
  border-radius: 23px;
  border: none;
  font-size: 14px;
  opacity: 0.55;
}


.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('img/search.png');
  background-size: 16px 16px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav{
	padding-bottom: 34px;
	box-shadow: 0 5px 18px -7px #eeeeee;
	position: relative;
}


.nav-list {
	padding-top: 18px;
	float: left;
}


.nav-list li {
	display: inline-block;
	margin-right: 37px;
	letter-spacing: -0.32px;
}


.central-container{
	padding-top: 19px;
	background-color: #f9f9f9;
}

/*Левая колонка*/

.column-left {
	width: 250px;
	background-color: #ffffff;
	float: left;
	margin-bottom: 20px;
}	

.day_news_title {
	font-size: 20px;
	border-bottom: 1px solid #e5e5e5;
	letter-spacing: -0.4px;
}

.column-left .day_news_title {
	padding: 25px 0 22px 18px;
	margin: 0 0 30px;
}


.day_news_items {
	padding-left: 18px;
	margin-bottom: 38px;
}

.day-item{
	margin-bottom: 24px;
}

.day_news_items .day-item-text {
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.32px;
	font-size: 14px;
	padding-bottom: 12px;
	padding-right: 20px;

}

.decor {
	text-decoration: none;
	color: black;
}

.props {
	font-size: 12px;
}

.props .item-category {
	color: #91919f;
	float: left;
	letter-spacing: -0.24px;
	text-decoration: none; 
	opacity: 0.8;

}
.props__right {
  float: right;
  padding-right: 38px;
}

.news-time {
	background-image: url('img/icon-time.png');
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-right: 16px;

}
.news-comments-count{
	background-image: url('img/icon-comments.png');
	background-repeat: no-repeat;
	padding-left: 15px;
} 

.button_news {
	text-align: center;
	margin-top: 41px;
	margin-bottom: 25px;
}

.all_news_btn {
	display: inline-block;
	font-size: 14px;
	letter-spacing: -0.28px;
	color: #448ccb;
	text-decoration: none;
	border-radius: 23px;
	padding: 13px 49px;
	border: 1px solid #72a8d8;
}


/*Центральная колонка*/

.column-center {
	width: 462px;
	float: left;
	margin-left: 20px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-news {
	position: relative;
	width: 462px;
	height: 322px;
}

.pic_news_img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.pic_news_item {
	color: #ffffff;
	position: relative;
	font-size: 12px;
	letter-spacing: -0.24px;
	padding: 20px;
}

.pic_news_item a {
	color: #ffffff;
	text-decoration: none;
}

.pic_news_category {
	display: block;
}

.main-news .pic_news_category {
	margin-top: 93px;
}

.pic_news_title {
	font-size: 30px;
	letter-spacing: -0.6px;
}	

.main-news .pic_news_title {
	padding: 17px 32px 24px 0;
}

.pic_news_props {
	padding-bottom: 24px;
}


.date {
	margin-right: 20px;
	display: inline-block;

}

.time {
 	display: inline-block;
 	background-image: url('img/clock.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 9px 9px;
	padding-left: 15px;
	
}



.column-right {
	width: 250px;
	float: right;
}
.column-right img{
	display: block;
	margin-bottom: 20px;
}


 
/*Центральная секция новостей*/

.item-container {
	padding: 19px 0 20px;
	font-size: 0;

}

.item_news {
	width: 221px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 18px;
	margin-right: 20px;
}

.item_news:nth-of-type(even){
	margin-right: 0;
}
.item_img {
	display: block;
	width: 100%;
	height: 142px;
	margin-bottom: 7px;

}
.item_title { 
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.28px;
	padding: 0 20px 12px 0;
}


.item_news .props__right{
	padding-right: 58px;
}

/*Нижняя секция*/
.column-bottom {
	margin-bottom: 59px;
}

.column-bottom-left {
	float: left;
}

.pic_news {
	position: relative;
	width: 588px;
	height: 393px;
}


.pic_news .pic_news_category {
	opacity: 0.7;
	margin-top: 85px;
}


.pic_news .pic_news_title {
	width: 395px;
	padding: 22px 0 12px 0;
}

.pic_news_props {
	display: block;
}
.pic_news .pic_news_props {
	padding-bottom: 23px;
	opacity: 0.7;
}

.pic_news_text {
	font-size: 14px;
	letter-spacing: -0.28px;
	opacity: 0.7;
	padding-right: 56px;
	line-height: 19px;
}


.column-bottom-right {
	float: right;
	width: 412px;
	height: 393px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;

}
.column-bottom-right .day_news_title  {
	padding: 28px 19px 22px;
	margin: 0 0 25px;
	
}
.famous_news_items {
	padding-left: 19px;

}
.famous_news_items .day-item {
	margin-bottom: 30px;
}

.famous_news_items .day-item-text {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.32px;
	padding-bottom: 13px;
	padding-right: 23px;
}

.famous_news_items .props__right {
	float: left;
	margin-left: 14px;
}

/*FOOTER*/
.footer {
	background-color: #00122f;
	color: white;
	padding-top: 54px;
}

.footer a {
	text-decoration: none;
	color: white;
}
.nav-footer {
	float: left;
	letter-spacing: -0.36px;
}
.nav-footer-1 {
	width: 263px;
	columns: 2;
}

.footer-top li {
	margin-bottom: 14px;
}
.footer-top {
	position: relative;
	padding-bottom: 56px;

}
.footer-logo {
	position: absolute;
	left: 435px;
	top: 5px;
	float: left;

}
.footer-top img {
	display: block;
	padding-bottom: 20px;
}
.nav-footer-2 {
	padding-left: 2px; 
	letter-spacing: -0.36px;
}
.contacts {
	float: right;
	font-size: 18px;
	letter-spacing: -0.36px;

}

.socialnetwork {
	padding-top: 5px;
	padding-bottom: 37px;
}

.socialnetwork a {
	display: inline-block;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.socialnetwork li {
	display: inline-block;
	margin-bottom: 0;
	margin-right: 16px;
}

.socialnetwork li:last-child {
	margin-right: 0;
}

.vk {
	background-image: url('img/vk.png') ;
	background-size: 40px 40px;
}

.facebook {
	background-image: url('img/facebook.png') ;

}
.twitter {
	background-image: url('img/tw.png') ;
}
.instagram {
	background-image: url('img/instagram.png') ;
}

.tel {
	display: block;
	background-image: url('img/call-answer.png') ;
	padding-left: 33px;
	background-repeat: no-repeat;
	margin-bottom: 23px;
}

.email {
	display: block;
	background-image: url('img/envelope.png') ;
	padding-left: 34px;
	background-repeat: no-repeat;
	background-position: left ;
 }

 .footer-bottom {
 	height: 50px;
 	border-top: 1px solid #26364e;
 }

 .copyright {
 	text-align: center;
 	opacity: 0.4;
 	padding-top: 15px;
 }

.currency {
	margin: 20px 0;
	background-color: #ffffff;
	min-height: 100px;
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
}

.currency p , h4 {
	padding: 10px 10px 5px 10px;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.32px;
}
.currency_title {
	color: #448ccb;
	font-size: 14px;
}
